<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Item</title>
</head>
<body>
    <h1>Editar dados do item: <%= item.nome %></h1>
    <form action="/tarefas/<%= id %>?_method=PUT" method="POST"> <!-- adicionei ?_method=PUT -->
        <!-- <input type="hidden" name="_method" value="PUT"> -->
        <label>Nome: <input type="text" name="item[nome]" value="<%= item.nome %>"></label><br>
        <label>Status: <input type="checkbox" name="item[status]" value="on" <%= item.status === 'on' ? 'checked' : '' %> ></label><br>
        <button type="submit">Enviar</button>
    </form>
    <a href="/">Voltar</a>
</body>
</html>