<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1> Lista de Tarefas</h1>

    <ul>
        <% itens.forEach((item, index) => { %>
            <li>
                <%= item.nome %> | <%= item.status %>
                <a href="/tarefas/<%= index %>/editar"> Editar</a> |
                <form action="/tarefas/<%= index %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        <% }) %>
        
    </ul>
    <a href="tarefas/novo"> Adicionar Item </a>
</body>
</html>